<section class="section courses-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Relevant Courses</h2>
  {% for course in site.data.courses %}
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="course-name">{{ course.name }}</h3>
        <div class="time">{{ course.date }}</div>
      </div>
      <!--//upper-row-->
      <div class="school">{{ course.school }}</div>
    </div>
    <!--//meta-->
    <ul>
      {% for point in course.details %}
      <li>{{point.point}}</li>
      {% endfor %}
    </ul>
    <!--//details-->
  </div>
  <!--//item-->

  {% endfor %}

</section>
<!--//section-->
