<div class="languages-container container-block">

<h2 class="container-block-title">Programming</h2>
<ul class="list-unstyled interests-list">
<li>Java<span class="lang-desc">(Expert)</span></li>
<li>Python<span class="lang-desc">(Comfortable)</span></li>
</ul>

</br>

<h2 class="container-block-title">Languages</h2>
<ul class="list-unstyled interests-list">
<li>English <span class="lang-desc">(Native)</span></li>
<li>Tagalog <span class="lang-desc">(Basic - Spoken)</span></li>
</ul>

</div><!--//interests-->
